{% extends 'bootstrap/base.html' %}


{% block title %}
        {% if title %} 
            {{ title }} - Python Blog 
        {% else %}  
            Welcome to the Python Flask Blog!
        {% endif %}
{% endblock %}
        
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.posts') }}">Posts</a></li>

                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.user', user_id=current_user.id) }}">My Profile</a></li>
                    <li><a href="{{ url_for('main.create') }}">Create Post</a></li>
                    <li><a href="{{ url_for('main.authors') }}">Discover</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}

        {{ moment.include_moment() }}
    </div>
{% endblock %}

