{% extends "base.html" %}

{% block app_content %}

    <h1>Reset Your Password</h1>

    <form action="" method="POST">

        {{ form.hidden_tag() }}

        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password_confirm.label }} <br>
            {{ form.password_confirm(size=32) }} <br>
            {% for error in form.password_confirm.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}